# Python virtual environments
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter / notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDE/editor files
.vscode/
.idea/

# # Local database / vector store outputs
# **/chroma_db/
# *.sqlite3

# OS files
.DS_Store
Thumbs.db
